.presentation {
  display: flex;
  justify-content: center;
  padding: 2%;
  margin-bottom: 1%;
}

.text {
  font-size: larger;
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  padding-top: 1.5%;
}
